*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #9d8189;
    color: #03071e ;
    text-align: center;
}

.container{
    height: 70vh; 
    display:flex;
    justify-content:center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
    gap: 1.0vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius:10px;
    border:none;
    box-shadow:0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    background-color: white;
    color: #d00000 ;
}

.button{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: none;
}

.new-btn{
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    height: 50px;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: none;
}

.msg{
    font-size: 8vmin;
    color: black;
    text-decoration: solid;
}

.msg-container {
    height: 30vmin;

}
.hide{
    display: none;
    
}